<div class="margin-top-60"></div>

<div id="footer">
  <!-- Main -->
  <div class="container">
    <div class="seven columns">
      <h4>About</h4>
      <p>ISIMM GRADUATION PROJECT SAKLYFIRAS MOEZBELKAHLA 2022</p>
      <a href="#" class="button">Get Started</a>
    </div>

    <!-- Bottom -->
    <div class="container">
      <div class="footer-bottom">
        <div class="sixteen columns">
          <div class="copyrights">
            © Copyright 2022 by <a href="#">SaklyFiras</a>. All Rights Reserved.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
