<app-navbar1></app-navbar1>
<app-navbar2></app-navbar2>
<div id="banner">
  <div class="container">
    <div class="sixteen columns">
      <div class="search-container">
        <!-- Form -->
        <h2>Chercher un travail</h2>
        <input
          type="text"
          class="ico-01"
          placeholder="Titre de travail"
          value=""
        />
        <input type="text" class="ico-02" placeholder="gouvernement" value="" />
        <button><i class="fa fa-search"></i></button>
      </div>
    </div>
  </div>
</div>