<mat-toolbar class="tool">
  <mat-toolbar-row fxFlex fxLayout="row">
    <span class="title-center"> Login</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content class="Mat-tapography">
  <form [formGroup]="signinforms" style="position: relative;display: inline-flex;">
    <div fxFlex fxLayout="column">
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required />
        <mat-error
          *ngIf="
            signinforms.controls.email.touched &&
            signinforms.controls.email.invalid
          "
        >
          <span *ngIf="signinforms.controls.email.errors.pattern"
            >le champs est invalide
          </span>
          <span *ngIf="signinforms.controls.email.errors.required"
            >champs est vide</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" fxFlex>
        <mat-label> Password </mat-label>
        <input  matInput  type="password" formControlName="password" required  />


        <mat-error
          *ngIf="
            signinforms.controls.password.touched &&
            signinforms.controls.password.invalid
          "
        >
          <span *ngIf="signinforms.controls.email.errors.required">
            le champ est vide</span
          >
          <span *ngIf="signinforms.controls.email.errors.pattern">
            le champ est invalide
          </span>
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button
    mat-raised-button
    type="submit"
    class="tool"
    (click)="handlesubmit()"
    [disabled]="!(signinforms.valid && signinforms.dirty)"
  >
    Login
  </button>
  <button mat-raised-button mat-dialog-close class="tool">Close</button>
</mat-dialog-actions>
