<router-outlet></router-outlet>
<header>
  <div class=>
    <div class="sixteen columns">
      <!-- Logo -->
      <div id="logo">
        <h1>
          <a href=""
            ><img style="margin-left: 9px;"src="assets/images/logo.png" alt="work scout"
          /></a>
        </h1>
      </div>

      <!-- Menu -->
      <nav id="navigation" class="menu">
        <ul class="float-right">
          <li>
            <a (click)="signupaction()"><i class="fa fa-user"></i> Registrer</a>
          </li>
          <li>
            <a (click)="signinaction()"><i class="fa fa-lock"></i> Connecter</a>
          </li>
          <li>
            <a (click)="forgetpasswordaction()"><b>?</b> Forgetpassword </a>
          </li>
        </ul>
      </nav>
      <div id="mobile-navigation">
        <a href="#menu" class="menu-trigger"
          ><i class="fa fa-reorder"></i> Menu</a
        >
      </div>
    </div>
  </div>
</header>

<body class="ilm">
<img  src="https://wallpaperaccess.com/full/169 1925.jpg">

</body>
<div class="margin-top-60"></div>

  
<app-footer></app-footer>

