<mat-toolbar class="tool">
  <mat-toolbar-row fxFlex fxLayout="row">
    <span class="title-center"> Récupérer les coordonnée</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content class="Mat-tapography">
  <form [formGroup]="forgetpasswordform">
    <div fxFlex fxLayout="column">
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required />
        <mat-error
          *ngIf="
            forgetpasswordform.controls.email.touched &&
            forgetpasswordform.controls.email.invalid
          "
        >
          <span *ngIf="forgetpasswordform.controls.email.errors.required">
            le champ est vide
          </span>
          <span *ngIf="forgetpasswordform.controls.email.errors.pattern">
            le champ est invalid
          </span>
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <div>
    <button
      class="tool"
      mat-rised-button
      [disabled]="!(forgetpasswordform.valid && forgetpasswordform.dirty)"
      type="submit"
      (click)="handlesubmitemail()"
    >
      Récupèrer
    </button>
  </div>
  <button
    class="tool"
    style="margin-left: 4px"
    mat-dialog-close
    mat-rised-button
  >
    Close
  </button>
</mat-dialog-actions>
