<nav class="navbar navbar-expand-sm navbar-light"  style="margin-top: 20px;">
  <ul class="navbar nav">
    <a class="nav-item nav-link" routerLink="/profil">
      <i class="fa-solid fa-note-sticky"></i> <strong> CV</strong></a
    >

    <a class="nav-item nav-link" routerLink="/dashbordclient"
      ><i class="fa-solid fa-business-time"></i><strong>Dashbord</strong></a
    >

    <a (click)="changepasswordaction()" class="nav-item nav-link" >
      <i class="fa-solid fa-user-large"  style="color:rgb(56, 56, 255)"></i><strong>Change Password</strong></a
    >
    <a (click)="changeemailaction()" class="nav-item nav-link" >
      <i class="fa-solid fa-user-large"  style="color:rgb(56, 56, 255)"></i><strong>Change Email</strong></a
    >
    <a (click)="updatecaction()" class="nav-item nav-link" >
      <i class="fa-solid fa-user-large"  style="color:rgb(56, 56, 255)"></i><strong>change Type</strong></a
    >
  </ul>
</nav>
